body{
    margin: 0;
    height: 100vh;
    background-color: #0A1929;
    color:  #F3F6F9;
    font-size: 1rem;
    line-height: 1.5625;
}

#root{
    display: grid;
    grid-template-columns: 20px 10fr 20px;
    
}

.app{
    grid-column: 2;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    @media(max-width: 600px){
        margin-top: 30px;
    }
    display: grid;
    grid-template-columns: 200px 1fr;

}

.spinner{
    &.MuiBox-root.css-k008qs{
       margin: 100px;
        justify-content: center;
        scale: 120%;
    }
}