.film-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2{
        margin: 0;
    }

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .favorite{
            color: rgb(255, 85, 85);
        }
    }
}